<div id="message-box-container" phx-update="append">
  <%= for message <- @messages do %>
    <div id="message-<%= message.id %>">
      <h4><%= message.sender.nick %> - <%= DateTime.to_iso8601(message.timestamp) %></h4>
      <p><%= message.text %></p>
    </div>
  <% end %>
</div>
