<div id="message-<%= @message.id %>" class="mb-1">
  <span class="message-time mr-1"><%= "#{@message.timestamp.year}/#{@message.timestamp.month}/#{@message.timestamp.day} #{@message.timestamp.hour}:#{@message.timestamp.minute}" %></span>
  <span class="user-nick"><%= @message.sender.nick %></span>
  <span class="message-text"><%= @message.text %></span>
</div>
